---
layout: default
title: Contact Made Slowly, freelance web developer in Oxford
description: "Contact Made Slowly - Tel: 07940 251270‬‬. Email: arran@madeslowly.co.uk. Address: Made Slowly, Nursery Close, Oxford, OX3 7AG. England."
scripts: type-effect
permalink: /contact/
nav: light
---

<section class="contact-masthead global-masthead">

  <h1><span class="contact-header">Get</span>in<span class="contact-header">touch</span></h1>

  <p id="typeWriter-container" class="contact-strap">.</p>

</section>
<!-- the fullstop is just to stop container resize once the js kicks in -->

{% include google-map.html %}

<div class="contact-wrapper global-container">

  <div class="contact-grid">

    {% include contact-form.html %}

    {% include contact-details.html %}

    {% include contact-footer.html %}

  </div>
</div>
