---
layout: default
title: Message Sent
description: Your message has been successfully sent.
permalink: /contact-confirm/
sitemap: false
nav: light
---
<section class="contact-masthead global-masthead">
  <h1>{{ page.title }}</h1>
</section>

<div class="">
  <p class="contact-confirm">
  Your message has been sent. <span>You should receive an automated confirmation very soon. </span>I will personally respond shortly.</p>

  <h2 class="center-text">While you wait</h2>
</div>

<div class="blog-wrapper ">
  {% for post in site.posts limit: 2 %}

  {% include list-post-items.html %}

  {% endfor %}
</div>
