// Overall scaffolding and display manipulation
.global-container
  margin: 0
  padding: $container-margin-768

.global-masthead
  // falback
  background-color: $vivid-pink
  color: $white
  min-height: 40vh
  padding: 10vh 5vw 0

.spacer
  background-color: inherit
  min-height: 20vh

.display-desktop-only
  display: none
