// Global typography styles

body
  font-family: $primary-font-family , Fallback, sans-serif
  font-size: $global-font-size
  letter-spacing: $global-letter-spacing

h1
  font-size: 1.9rem
  font-weight: $extra-light-font
  letter-spacing: 2px
  line-height: 3rem
  padding: 1em 0
  text-transform: uppercase

h2
  font-size: 1.4rem
  padding: 1rem 0

h3
  font-size: 1.3rem
  padding: 1rem 0

h4
  font-size: 1rem
  padding: 1rem 0

h5
  padding: 1rem 0

h6
  padding: 1rem 0

p
  font-size: 1rem
  padding: 1rem 0

a,
p,
h2,
h3,
h4,
h5,
h6,
li
  font-weight: $light-font

.h-light
  color: $soft-white

.center-text
  text-align: center
