<section class="privacy-wraper">

  <div class="privacy-header">
    <h1>Privacy Policy</h1>
    <p class="">Last updated: {{ page.date | date: "%B %Y" }}</p>
    <h4 class="">Introduction</h4>
    <p>MADE SLOWLY ("I", "me", or "my") operates the <a href="https://www.madeslowly.co.uk">https://www.madeslowly.co.uk</a> website (the "Service"). This page informs you of my policies regarding the collection, use and disclosure of Personal Information when you use my Service. I will not use or share your information with anyone except as described in this Privacy Policy. I use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in my Terms and Conditions, accessible at <a href="https://www.madeslowly.co.uk/terms">https://www.madeslowly.co.uk/terms</a>.</p>
  </div>

  <div class="privacy-section">
    <h4 class="">Information Collection And Use</h4>
    <p>While using my Service, I may ask you to provide me with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, phone number ("Personal Information").</p>
  </div>

  <p class="privacy-friendly">
    If you choose to work with me, we will need to talk to each other.
  </p>

  <div class="privacy-section">
    <h4 class="">Log Data</h4>

    <p>I may also collect information that your browser sends whenever you visit my Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of my Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

    <p>In addition, I may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase my Service's functionality. These third party service providers have their own privacy policies addressing how they use such information.</p>

  </div>
  <p class="privacy-friendly">
    I know you looked at my site, in fact I know you are looking at it right now, spooky. I don't know who you are, what colour your hair is, or what you had for breakfast (bet it was tasty tho'). I just know you came to my website and looked at it.
  </p>
  <a name="#cookies"></a>
  <div class="privacy-section">
    <h4 class="">Cookies</h4>
    <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your computer's hard drive.</p>

    <p>I use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. Exact details of how to do this vary from browser to browser. Feel free to contact me for advice. If you do disable cookies, you may not be able to use some portions of my Service. <a href="http://cookiesandyou.com/">Learn more</a></p>
  </div>
  <p class="privacy-friendly">
    Cookies are great, really. Any of the cookies I send to you are expressly forbidden to go snooping around your device. Their job is to identify you, if and when, you return to my website.
  </p>

  <div class="privacy-section">
    <h4 class="">Service Providers</h4>

    <p>I may employ third party companies and individuals to facilitate my Service, to provide the Service on my behalf, to perform Service-related services or to assist me in analyzing how my Service is used.</p>

    <p>These third parties have access to your Personal Information only to perform these tasks on my behalf and are obligated not to disclose or use it for any other purpose.</p>

    <p>Third party services I use are Google Analystics and Cookie Consent. No third party service receives any personal information you may provide whilst using madeslowly.co.uk.</p>
  </div>

  <p class="privacy-friendly">
    Madeslowly.co.uk integrates with Google Analytics and a cookie consent management plugin. Cookie Consent know their software is running on this website; they don't receive any personally identifiable information about you. Google, well, it's Google. I just give them a unique id number which identifies your device as having visited my website...
  </p>

  <div class="privacy-section">
    <h4 class="">Compliance With Laws</h4>
    <p>I will disclose your Personal Information where required to do so by law or in accordance with an order of a court of competent jurisdiction, or if I believe that such action is necessary to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of my Service.</p>
  </div>
  <p class="privacy-friendly">
    OK, this one is a bit more serious. It's very unlikley, but if you were to use any digital product created by me, in a way that is illegal according to UK and EU legislation, all information about you held by madeslowly.co.uk, will be passed onto the police.
  </p>

  <div class="privacy-section">
    <h4 class="">Security</h4>
    <p>The security of your Personal Information is important to me, but no method of transmission over the Internet, or method of electronic storage is 100% secure. While I strive to use commercially acceptable means to protect your Personal Information, I cannot guarantee its absolute security. As such I make no warranties as to the level of security afforded to your data, except that I will always act in accordance with the relevant UK and EU legislation.</p>
  </div>

  <p class="privacy-friendly">
    If you choose to work with me, I will store your information online. Any payment information will be held by the system of payment you choose to use (Bank, PayPal etc.). The worse case scenario is that someone steals your email, name and any digital products that are in development. Madeslowly.co.uk uses SSL security, which means a hacker would have to really, really, really want to steal your stuff. It's just not going to happen. But if it did, you should know I have very particular set of skills, skills I have acquired over a very long career, skills that make me a nightmare for the people that stole your stuff.
  </p>

  <div class="privacy-section">
    <h4 class="">International Transfer</h4>
    <p>Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction. If you are located outside the United Kingdom and choose to provide information to me, please note that I transfer the information, including Personal Information, to the United Kingdom and process it there. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer. In the event that a dispute arises with regards to the international transfer of data, you agree that the courts of England and Wales shall have exclusive jurisdiction over the matter.</p>
  </div>

  <p class="privacy-friendly">
    This webiste is served from a well known hosting provider and the servers I work with are located in London, UK. This means at the end of the day, UK law will apply.
  </p>

  <div class="privacy-section">
    <h4 class="">Links To Other Sites</h4>
    <p>My Service may contain links to other sites that are not operated by me. If you click on a third party link, you will be directed to that third party's site. I strongly advise you to review the Privacy Policy of every site you visit. I have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
  </div>

  <p class="privacy-friendly">
    I'm not the creator of all the websites I link to, but if I link to them and didn't create them myself, then they must be pretty cool.
  </p>

  <div class="privacy-section">
    <h4 class="">Children's Privacy</h4>
    <p>My Service does not address anyone under the age of 13 ("Children"). I do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided me with Personal Information, please contact me. If I become aware that I have collected Personal Information from a children under age 13 without verification of parental consent, I will take steps to remove that information from my servers.</p>
  </div>

  <p class="privacy-friendly">
    Generally, kids don't often purchase digital products from freelance developers, but if your child did (weird) I will remove their information, refund the money and try to contact you. If you are in this situation then I hate to be the one to break it to you, but I think your kid is one of those nerdy ones.
  </p>

  <div class="privacy-section">
    <h4 class="">Changes To This Privacy Policy</h4>
    <p>I may update my Privacy Policy from time to time. I will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page. If I make any material changes to this Privacy Policy, I will notify you either through the email address you have provided, or by placing a prominent notice on my website.</p>
  </div>

  <p class="privacy-friendly">
    I do try to keep my Privacy Policy up to date. Really, you're not going to read every single Privacy Policy on the internet. But if you are considering working with me, then yeah, do your homework.
  </p>

  <div class="privacy-section">
    <h4 class="">Jurisdiction</h4>
    <p>This Policy shall be governed and construed in accordance with the laws of England and Wales, without regard to its conflict of law provisions.</p>
  </div>

  <p class="privacy-friendly">
    I'm based in England, UK.
  </p>

  <p class="privacy-footer">If you have any questions about this Privacy Policy, please <a href="/contact">contact me</a>.</p>

</section>
