<section class="privacy-wraper">

  <div class="privacy-header">
    <h1>Terms of Service</h1>
    <p class="">Last updated: {{ page.date | date: "%B %Y" }}</p>
    <h4 class="">Introduction</h4>
    <p>The following terms of service apply to all services, including website development and design services, (the "Services") provided by Made Slowly to the Client, in conjunction with any relevant quotation provided to the Client by Made Slowly (Terms), unless otherwise agreed in writing. Acceptance of a quote, purchase and/or use of the Services shall be considered acceptance of the Terms.</p>
  </div>

  <div class="privacy-section">
    <h4 class="">Charges</h4>
    <p>Charges for the Services are defined in the project quotation that the Client receives from Made Slowly via email. Quotations are valid for a period of 60 days. Made Slowly reserves the right to alter a quotation or decline to provide the relevant Services after expiry of the 60 days.</p>

    <p>Unless agreed otherwise with the Client, all website development and design services must be paid in full according to the project quotation total prior to the Service being released to the Clients choice of server and domain.</p>

    <p>The Client agrees to reimburse Made Slowly for any additional expenses necessary for the completion of the work. Expenses may include (but are not limited to) purchase of domain names, special fonts and stock photography.</p>
  </div>

  <p class="privacy-friendly">
    If you choose to work with me, ALL costs will be agreed before work starts and I will expect you to pay me before your website is launched. Stealing code from developer is kinda like blackmailing Batman. In other words, I'll hack you, and tell your mum.
  </p>

  <div class="privacy-section">
    <h4 class="">Client Review</h4>

    <p>Made Slowly will provide the Client with an opportunity to review the appearance and content of the website during the design phase and once the overall website development is completed. At the completion of the project, such materials will be deemed to be accepted and approved unless the Client notifies Made Slowly otherwise within fourteen (14) days of the date the materials are made available to the Client.</p>

  </div>
  <p class="privacy-friendly">
    During development your website will be hosted at YOURNAME.madeslowly.xyz. You can view and use your website freely during this period and feedback any comments to me. Once I think we are finished, I will email you saying so and you will have 2 weeks left to send me any additional feedback you might have.
  </p>

  <div class="privacy-section">
    <h4 class="">Turnaround Time and Content Control</h4>
    <a name=""></a>
    <p>Made Slowly will install and publicly post or supply the Client's website by the date specified in the project proposal, or at the date agreed with Client, upon Made Slowly receiving payment.</p>

    <p>In return, the Client agrees to provide Made Slowly promptly with all necessary information, materials and data, access to accounts and timely decision-making which may be reasonably required by Made Slowly for the performance of the Services. This shall include the Client delegating a single individual as a primary contact to aid Made Slowly with progressing the commission in a satisfactory and expedient manner.</p>

    <p>During the project, Made Slowly will require the Client to provide website content; text, images, movies and sound files, along with any relevant background information.</p>

  </div>
  <p class="privacy-friendly">
    At the start of the project we will decide on a timeframe. During the project this may change. At the end of the project we will launch your website.
  </p>

  <div class="privacy-section">
    <h4 class="">Web Browsers</h4>
    <p>Made Slowly makes every effort to ensure websites are designed to be viewed by the majority of visitors. Websites are designed to work with the most popular current browsers (e.g. Firefox, Google Chrome, Microsoft Edge etc.). The Client agrees that Made Slowly cannot guarantee correct functionality with all browser software across different operating systems.</p>

    <p>Made Slowly cannot accept responsibility for web pages which do not display acceptably in new versions of browsers released after the website has been designed and handed over to the Client. As such, Made Slowly reserves the right to quote for any work involved in changing the website design or website code for it to work with updated browser software.</p>
  </div>
  <p class="privacy-friendly">
    Your website will look as it should on 99% of browsers. But browser technology is always changing and even though I'm awesome at what I do, I can't read the future. Soz.
  </p>

  <div class="privacy-section">
    <h4 class="">Termination</h4>
    <p>Termination of services by the Client must be requested email. Telephone requests for termination of services will not be honoured. The Client will be invoiced for work completed to the date of first notice of cancellation for payment in full within thirty (30) days.</p>
  </div>

  <p class="privacy-friendly">
    You can terminate our project any time, just don't do in a way that is not recorded. Your notice to terminate will be acknowledged and I'll expect payment for any work I have done up to that point.
  </p>

  <div class="privacy-section">
    <h4 class="">Standard Media Delivery</h4>
    <p>Unless otherwise specified in the project quotation, this Agreement assumes that any text will be provided by the Client in electronic format and that all photographs be provided in .jpeg, .png, .tiff or .raw. Other graphics will be provided in vectorised format, .svg, .eps or .pdf.</p>
  </div>

  <p class="privacy-friendly">
    Content provided by you needs to readable my me.
  </p>

  <div class="privacy-section">
    <h4 class="">Design Credit and Marketing</h4>
    <p> A link to Made Slowly will appear in either small type or by a small graphic at the bottom of the Client's website. If a graphic is used, it will be designed to fit in with the overall site design. If a client requests that the design credit be removed, a nominal fee of 10% of the total development charges will be applied. When total development charges are less than £3000, a fixed fee of £300 will be applied.</p>

    <p>The Client agrees that the website developed for the Client may be presented in Made Slowly's portfolio, and hereby grants Made Slowly a worldwide, perpetual, non-exclusive licence to use its name, logo and branding for advertising, marketing and promotional activities.</p>
  </div>

  <p class="privacy-friendly">
    Your website is also my advert. I'm proud of the websites I create and I want people to know I created them. If you would prefer people to not know, I would ask that I get something in return. Also, I like to tell people "look at what I done".
  </p>

  <div class="privacy-section">
    <h4 class="">Third Party Servers</h4>
    <p>Made Slowly designs and tests websites to work on its own servers, and cannot guarantee correct functionality if the Client wishes to use a third-party server. In the event that the Client is using a third-party server, it is the responsibility of the Client and any third party host to ensure that the server is compatible with the website. Made Slowly will assist the Client to configure the server if this is required. However, this may be subject to additional charges.</p>

    <p>If the Client's website is to be installed on a third-party server, Made Slowly must be granted temporary read/write access to the Client's storage directories which must be accessible via FTP. Depending on the specific nature of the project, other resources might also need to be configured on the server.</p>
  </div>

  <p class="privacy-friendly">
    You don't have to host your new website with me. If you host it elsewhere, I will help you install your new site, but servers come in many different configurations and there might be occasions where something on your site doesn't behave as it did when hosted by me. I can't be held responsible for obscure server configurations.
  </p>

  <div class="privacy-section">
    <h4 class="">Domain Names</h4>
    <p>Made Slowly may purchase domain names on behalf of the Client. Payment in relation to, and renewal of, those domain names is the responsibility of the Client. The loss, cancellation or otherwise of the domain brought about by non or late payment is not the responsibility of Made Slowly.</p>
  </div>

  <p class="privacy-friendly">
    If you choose to host your website elsewhere I'm not responsible for your website.
  </p>

  <p class="privacy-footer">If you have any questions about these Terms of Service, please <a href="/contact">contact me</a>.</p>

</section>
