<!-- still needs converting from bootstrap -->
<div class="global-container workflow-wraper">

  <h1 class="center-text workflow-header">Starting a New Project</h1>

  <div id="TimeLine" class="workflow-panel">
    <svg class="timeline" width="201.155390144" height="1009.05" viewBox="0, 0, 201.155390144, 1009.05" preserveAspectRatio="none">
      <g>
        <line id="TimeLineLine" x1="100.577695072" y1="10.5" x2="100.577695072" y2="943.5" />

        <circle id="TimeLineC1" cx="100.577695072" cy="5.5" r="5" />
        <circle id="TimeLineC2" cx="100.577695072" cy="205.5" r="5" />
        <circle id="TimeLineC3" cx="100.577695072" cy="405.5" r="5" />
        <circle id="TimeLineC4" cx="100.577695072" cy="605.5" r="5" />

        <a href="/contact.html" class="svg-btn-outline">
          <path id="TimeLineBL" d="M100.064360472,1008.5 C70.2262403146,1008.5 40.3881201573,1008.5 10.55,1008.5 C5.55,1008.5 0.55,1003.5 0.55,998.5 C0.55,983.5 0.55,968.5 0.55,953.5 C0.55,948.5 5.55,943.5 10.55,943.5 C10.55,943.5 10.55,943.5 10.55,943.5 C40.5592316908,943.5 70.5684633815,943.5 100.577695072,943.5" />
          <path id="TimeLineBR" d="M101.091029672,943.5 C130.929149829,943.5 160.767269987,943.5 190.605390144,943.5 C195.605390144,943.5 200.605390144,948.5 200.605390144,953.5 C200.605390144,968.5 200.605390144,983.5 200.605390144,998.5 C200.605390144,1003.5 195.605390144,1008.5 190.605390144,1008.5 L190.605390144,1008.5 C160.596158453,1008.5 130.586926762,1008.5 100.577695072,1008.5" />
          <text id="TimeLineText" class="svg-btn-text">
            <tspan x="66" y="984.5">
              Ready?
            </tspan>
          </text>
        </a>
      </g>
    </svg>
  </div>
  <div id="tlBubbles-container" >
    <div id="tlBubble1" class="bubble shadow">
      <p>Start a conversation</p>
      <p class="m-0 p-0">You tell me what you want, I listen, then we make a foolproof plan.</p>
    </div>

    <div id="tlBubble2" class="bubble shadow">
      <p class="text-center m-0 p-0 font-weight-bold">Mock-Up</p>
      <p class="m-0 p-0">Quick to produce and will help us visulise your idea. This will become the scaffolding for your final website.</p>
    </div>

    <div id="tlBubble3" class="bubble shadow">
      <p class="text-center m-0 p-0 font-weight-bold">Inject life</p>
      <p class="m-0 p-0">Cool images, rhythming copy, juicy JavaScript and sprinbkles of php will bring your website to life.</p>
    </div>

    <div id="tlBubble4" class="bubble shadow">
      <p class="text-center m-0 p-0 font-weight-bold">Launch day!</p>
      <p class="m-0 p-0">Once you are happy with your website we can go live!</p>
    </div>

  </div>
</div>
